@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
.img-detail{
    width: 400px;
}

.contenedor-img-detail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-detail{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    color: blue;
}

.contenedor-detail-texto{
    width: 100%;
    text-align: left;
    padding-left: 20%;
    font-size: larger;
}

.detail-price{
display: inline-block;
    
}

.detail-titel{
    font-family: 'MonteCarlo', cursive;
    color:#857650;
    font-weight:normal;
    font-size: 4rem;
    margin-top: 0%;
}

.price{
 text-align: center;
 font-weight: normal;
}

.img-detail-responsive{
    display: none;
}

@media(max-width:800px){
 
    .contenedor-img-detail{
        display: none;
    }
    
    .img-detail-responsive{
        display: block;
        width: 200px;
    }
    
    .contenedor-detail-texto{
        padding-left: 0%;
    }
 
    .detail-titel{
        font-family: 'MonteCarlo', cursive;
        color:#857650;
        font-weight:normal;
        font-size: 35px;
       margin: 0%;
    }
    
    .detail-price{
        display: flex;
        }

    .price{
        font-size: 20px;
    }

    .detail-texto-data{
        font-size: 1rem;
    }

    .container-button-itemdetail{
        flex-direction: column;
    }
}