.form-input{
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px blue;
    width: 300px;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}