.contenedor{
    margin: 20px;
}

.contenedor__productos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.cat-title{
    color: #857650;
    font-size: 50px;
    font-family: 'MonteCarlo', cursive;
}

@media(max-width:800px){
 
    
.cat-title{
    font-size: 30px;
    margin: 0%;
}
    
}