.contenedor{
    margin: 20px;
}

.contenedor__productos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.cat-title{
    color: #857650;
    font-size: 30px;
    font-family: 'MonteCarlo', cursive;
}