.container-text-about{
    margin: 20px 60px;   
}

.text-about{
   
    padding: 5px;
    font-style: italic;
    font-size: 20px;
    text-align: justify;
}

.about-container-fotos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.about-img{
    padding-right:  30px;
}

.img-about{
    width: 100%;
}