
.main-nav{
    position: relative;
}

.nav-bar{
    /* background: #E38646; */
    padding: 20px;
    display: block;
    color: blue;
    cursor: pointer;
    font-size: 1.5em;
    width: 100%;
}

.menu, .submenu{
    list-style:none;
    padding: 0;
    margin: 0;
}

.menu{
    background: #2196F3;
    width: 100%;
    margin-left: -100%;
    transition: all 0.5s;
}

.menu__link{
    display: block;
    padding: 1rem;
    color: antiquewhite;
    text-decoration: none;
}

.menu__link:hover{
    background: #1976D2;
}

.logo{
   width: 20px;
    height: 20px;
}

.submenu{
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.submenu .menu__link:hover{
    background: #0D47A1;
}

.submenu .menu__link{
    background: #1565C0;
    padding-left: 40px;
}

.mostrar{
    margin-left: 0;
}

#icono-logo{
    position: absolute;
    left: 5px;
    height: 30px;
}


.icono-carrito{
    color: antiquewhite;
    position: absolute;
    right: 5%;
    top:15px;
}


@media(min-width:1024px){
    .nav-bar{
        display: none;
    }
    .menu{
        margin-left: 0;
        display: flex;
        
    }

    .container-submenu{
        position: relative;
    }

    .submenu{
        position: absolute;
        top: 60px;
        width: 200px;
        overflow: visible;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }

    .container-submenu:hover .submenu{
        opacity: 1;
        visibility: visible;
    }
}