.boton-personalizado{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid cornflowerblue 0.5px;
    color: cornflowerblue;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: medium; 
    text-decoration: none;
    margin: 5%;
}

.link-personalizado{
    text-decoration: none;
    color:  cornflowerblue;
}