

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600&display=swap');


.App{
  background-color: white;
  height: 100vh;
  text-align: center;
  text-decoration: none;
  color: black; 
}

