.contenedor{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: dimgray;
}


.card{
    width: 250px;
}

.contenedor__botones{
    display: flex;
    justify-content: space-between;
}

.boton{
    border: 0mm;
    background-color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    color: dimgray;
    margin: 10px;

}

.boton-agregar{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid cornflowerblue 0.5px;
    color: cornflowerblue;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: medium; 
}

.boton-agregar:active{
   
   border-color: blue ;
}

.card__info{
    font-weight: lighter;
    font-size: medium;
    color: blue;
}

.card__stock{
    color: dimgray;
   font-size: medium;
   text-decoration: none;
   border: 0em;
   width: 40px;
   text-align: center;
}

p{
    font-size: smaller;
}

.stock-text{
    text-align: center;
    font-size: medium;
}