.cart-container{
    border: solid 1px lightblue;
    display: flex;
    justify-content: space-around;
   margin: 10px 50px;
}

.container-cart-img{
    width: 80px;
}

.container-cart-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.container-cart-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px gray;
    border-radius: 5px;
    width: 200px;
    margin: 10px;
}

.container-cart-precio{
    display: flex;
    align-items: center;
    justify-content:right;
    width: 150px;
}