.cart-container{
    border: solid 1px lightblue;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    margin: 10px 50px;
}

.container-cart-img{
    width: 80px;
}

.container-cart-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.container-cart-quantity{
    display: flex;
    align-items: center;
    justify-content:space-around;
    border: solid 1px gray;
    border-radius: 5px;
    width: 200px;
    margin: 10px;
    
}

.container-cart-precio{
    display: flex;
    align-items: center;
    justify-content:right;
    width: 150px;
}

.cart-button{
    color: blue;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.container-trash{
    display: flex;
    align-items: center;
}

.container-info-cart{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-button-itemdetail{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



@media(max-width:800px){

    .cart-container{
       margin: 0px;

    }

    .container-cart-img{
        display: none;
    }

    .container-cart-precio{
        justify-content:center;
    }

    .container-trash{
      margin-right: 10px;
    }
    
}



